.nav-top {
    height: 80px; 
    display: flex ;
    justify-content:  space-between;
    padding-left: 10px;
    padding-top: 5px;
}

img{
    margin-left: 20px;
    height: 40px; 
    position: absolute; 
    right: 2%; 
    margin-top: 3px;
    
}
img:hover{
    cursor: pointer;
}

.sidenav-trigger {
    height: 48px; 
    color: brown; 
    margin-bottom:10px
}

a:hover{
    text-decoration: none;
}