.nav-top {
    height: 80px; 
    display: flex ;
    justify-content:  space-between;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
}

.btn-flat{
    color: white;
}

.cart{
    position: absolute; 
    right: 2.5%; 
}

img{
    height: 40px; 
    margin-top: 2px;
    
}

.badge{
    position: absolute; 
    margin-left: 25px;
    font-size: 11px;
    color: #b71c1c;
    margin-top: 2px;
    max-height: 22px;
    min-width: 10px;
    background-color: #ffcdd28b;
    border-radius: 30%;
}

img:hover{
    cursor: pointer;
}

.sidenav-trigger {
    height: 48px; 
    color: brown; 
    margin-bottom:10px
}

a:hover{
    text-decoration: none;
}