<!--
<nav class="nav-extended">
    <div class="nav-wrapper">
        <div class="brand-logo">ECOMMERCE</div>
        <ul class="right hide-on-med-and-down">
            <li><a class="waves-effect waves-light btn-small">LOGIN</a></li>
            <li><img src="assets/images/navbar/bag.png"></li>
          </ul>
    </div>
    <div class="nav-content">
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="tabs tabs-transparent">
          <li class="tab"><a href="#test1">INICIO</a></li>
          <li class="tab"><a class="active" href="#test2">CATEGORIAS</a></li>
          <li class="tab"><a href="#test3">MIS PRODUCTOS</a></li>
          <li class="tab"><a href="#test4">ORDENES</a></li>
        </ul>
    </div>
</nav>
-->
<!--
<nav class="navb">
    <div class="section-top">
        <div class="logo">
            LOGO
          </div>
          <div class="navbar-icons">
            <div class="user-icon">
              <i class="fa fa-user"></i>
            </div>
            <div class="cart-icon">
              <i class="fa fa-shopping-cart"></i>
            </div>
          </div>
    </div>
    <nav class="section-bot">
        <div class="sections">
          <a href="#" class="section">Sección 1</a>
          <a href="#" class="section">Sección 2</a>
          <a href="#" class="section">Sección 3</a>
          <a href="#" class="section">Sección 4</a>
        </div>
        <div class="highlight-bar"></div>
      </nav>
    
</nav>
-->

<!-- Dropdown Structure -->
<nav class="nav-extended ">
    <div class="nav-top red darken-3">
        <div style="font-weight: 600; font-size:larger; letter-spacing: 6px;">
            ECOMMERCE
        </div>
        <div>
            <a class="waves-effect waves-teal btn-flat">INICIA SESION</a>
        </div>
        
        
    </div>
    <div class="nav-content white" style="display: flex; justify-content: space-between;">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="tabs hide-on-med-and-down">
            <li class="tab"><a href="#test1">INICIO</a></li>
            <li class="tab"><a href="#test2">HOGAR</a></li>
            <li class="tab"><a href="#test3">ELECTRONICA</a></li>
            <li class="tab"><a href="#test4">BELLEZA</a></li>
            <li class="tab"><a href="#test5">SALUD</a></li>
            <li class="tab"><a href="#test6">NIÑOS</a></li>
            <li class="tab"><a href="#test7">TRANSPORTE</a></li>
            <li class="tab"><a href="#test8">ENTRETENIMIENTO</a></li>
            <li class="tab"><a href="#test8">Mis Productos</a></li>
            <li class="tab"><a href="#test8">Ordenes</a></li>
        </ul>
        <div class="cart">
            <span class="badge" style="margin-right: 4.5%;">0</span>
            <img src="assets/images/navbar/bag.png">
            <!--(click)="cart.show()"-->
        </div>
            
            
    </div>
    
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Test 1</a></li>
    <li><a href="badges.html">Test 2</a></li>
    <li><a href="collapsible.html">Tab</a></li>
    <li><a href="mobile.html">Test 4</a></li>
</ul>

<!--<app-cart #cart></app-cart>-->


