<div>
    <div class="card">
        <div class="card-image">
            <img src="">
        </div>
        <div class="card-content " style="padding-bottom: 5px; padding-top: 5px;">
            <span class="card-title">{{data.price}}</span>
            <p style="font-size: smaller;">{{data.name}}</p>
        </div>
        <div class="card-action"  style="padding-bottom: 10px; padding-top: 10px; font-size: small;">
            <a href="">añadir </a>
            <a href="">detalles</a>
        </div>
    </div>
</div>
