<!--<div>
    <div class="card">
        <div class="card_img">
            <img src="assets/images/home/1s.png">
        </div>
        <div class="card_body">
            <h6 class="product_name">{{data.name}}</h6>
                <div class="div" style="display: flex; justify-content: center;">
                    <p class="product_symbol">$</p>
                    <p class="product_price">7500000</p>
                    <div class="btn-flat waves-effect border-button" >Shop now</div>
                    <i class="material-icons">more_vert</i>
                </div>
        </div>
        <div class="card_buttons"></div>
        
    </div>
</div>-->

