<div class="container-fluid">
    <ng-container *ngIf="user !== null">
        <div class="div" style="max-width: 750px; justify-content: center; margin: auto; font-weight: 400;">
            <div class="row white header" >
                <div class="col s6 name">
                    <p>nombre del producto</p>
                </div>
                <div class="col s3 edit" >
                    <p>editar</p>
                </div>
                <div class="col s3 delete" >
                    <p>eliminar</p>
                </div>
            </div>
            <div class="items" *ngFor="let item of user.items">
                <div class="row white body">
                    <div class="col s6 name">
                        <p>{{item.name}}</p>
                    </div>
                    <div class="col s3 edit">
                        <a class="waves-effect waves-green btn-small" style="background-color: #2e7d32;" [routerLink]="['/user/'+item.id]"><i class="material-icons white-text">edit</i></a>
                        
                    </div>
                    <div class="col s3 delete" style="text-align: center;">
                        <a class="waves-effect waves-red btn-small" style="background-color: #c62828;"><i class="material-icons white-text">delete</i></a>
                    </div>
                </div>
            </div>
            
        </div>
    </ng-container>
</div>