
.product{
    padding: 20px 0;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
}

.slider-wrap{
    position: relative;
    overflow: hidden;
    height: 332px;
}

.slider-main{
    position: absolute;
    width: 200%;
}

.items{
    display: inline-block;
    width: 240px;
    height: auto;
    background: #ffebee ;
    box-shadow: none;
    position: relative;
    margin: 5px 14px 0 0 ;
    padding: 0px;
}

.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    font-weight: bolder;
}

#prev{
    position: absolute;
    left: 19px;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 35px;
    background-color: #0000005b;
    border-radius: 100%;
}

#next{
    position: absolute;
    right: -17px;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 35px;
    background-color: #0000005b;
    border-radius: 100%;
}


.card_img{
    padding: 0px;
    margin:0px
}

img{
    width: 100%;
    height: 100%;
}

.card_body{
    padding: 0px 3px 0px 3px;
    margin: 0px 0px 0px 0px
}

.product_name{
    font-weight: 400;
    color: #000000;
    text-transform: capitalize;
    font-size: large;
    text-align: center;
    margin-bottom: 20px;
}

.product_price{
    font-weight: 300;
    color: rgb(0, 0, 0);
    font-size: medium;
    padding-left: auto;
    margin-right: 5px;
}
.product_symbol{
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    padding-left: auto;
    margin-left: 6%;
    margin-top: 20px;
    margin-right: 1px;
}

.btn-flat{
    font-size: smaller;
    margin: 0px;
    padding: 0px;
    margin-top: auto;
    margin-left: 4%;
    border-color: #424242;
}

.border-button {
    background-color: transparent; /* Fondo transparente para que no tenga color de fondo */
    border: 1px solid grey; /* Color de borde y grosor del borde */
    color: grey; /* Color del texto */
    padding: 0px 15px 0px 15px;
    transition: all 0.3s ease; /* Transición suave para cuando el usuario pase el mouse por encima */
    font-size: 10px;
    margin-bottom: 10px;
    text-transform: capitalize;
    margin: auto;
}

i{
    margin-top: 15px;
    justify-content: center;
}


