<div class="row justify-content-center align-items-center" style="display: flex; justify-content: center; flex-wrap:wrap">
    <div class="col s12 m4  white height-fill" style="padding-bottom: 30px ; margin: 0px 10px 0px 10px;">

        <div class="form">
            <form [formGroup]="loginForm">
                <h1 class="lead" style="font-weight: 100; text-align: center; font-size: 30px; margin-top: 20px;">LOGIN</h1>
                <small class="text-danger rounded">{{this.loginError}}</small>
                    <div class="input-field col s12">
                        <i class="material-icons grey-text prefix small-icon">email</i>
                        <label for="email">Email*:</label>
                        <input type="text" id="email" class="form-control validate"  [class.invalid]="loginForm.controls['email'].touched && loginForm.hasError('required','email') || loginForm.controls['email'].touched && loginForm.hasError('pattern','email') || loginForm.controls['email'].hasError('customError')"  formControlName="email" (click)="onSingin('email')" [class.error]="loginForm.controls['email'].invalid && loginForm.hasError('required','email')" placeholder="" >
                        <small *ngIf="loginForm.controls['email'].touched && loginForm.hasError('required','email')" class="helper-text">*Email es requerido</small>
                        <small *ngIf="loginForm.controls['email'].touched && loginForm.hasError('pattern','email')" class="helper-text">*Ingrese un email valido</small>
                        <small *ngIf="loginForm.controls['email'].hasError('customError')" class="helper-text">*Email invalido</small>
                    </div>

                    <div class="input-field col s12">
                        <i class="material-icons grey-text prefix small-icon">lock</i>
                        <label for="password">Contraseña*:</label>
                        <input type="password" id="password" class="form-control validate" [class.invalid]="loginForm.controls['password'].touched && loginForm.hasError('required','password') || loginForm.controls['password'].hasError('customError')" formControlName="password" (click)="onSingin('password') " [class.error]="loginForm.controls['password'].pristine && !loginForm.hasError('required','password')" placeholder="">
                        <small *ngIf="loginForm.controls['password'].touched && loginForm.hasError('required','password')" class="helper-text">*Contraseña es requerida</small>
                        <small *ngIf="loginForm.controls['password'].hasError('customError')" class="helper-text">*Contraseña invalida</small>
                    </div>
          
                <div class="col login">
                    <div class="btns">
                      <button type="submit" class="btn red waves-effect " (click)="autenticateLogin()">Iniciar sesion</button>
                    </div>  
                </div>
            </form>
        </div> 

    </div>
    <div class="col s12 m7 offset-m7 white height-fill" style=" padding-bottom: 30px ; margin: 0px 10px 0px 10px;">
        <div class="form">
            <form [formGroup]="registerForm">
                <h1 class="lead" style="font-weight: 100; text-align: center; font-size: 30px;  margin-top: 20px;">REGISTRO</h1>
                <small class="text-danger rounded">{{this.registerError}}</small>

                <div class="input-field col m4 s12">
                    <i class="material-icons grey-text prefix small-icon">assignment_ind</i>
                    <select formControlName="rol">
                      <option class="grey-text" value="" disabled selected>Elije una opcion</option>
                      <option value="vendedor">Vendedor</option>
                      <option value="comprador">Comprador</option>
                    </select>
                    <label>Rol*:</label>
                </div>

                <div class="input-field col m8 s12">
                    <i class="material-icons grey-text prefix small-icon">face</i>
                    <label for="name">Nombre*:</label>
                    <input type="text" id="name" class="form-control validate" formControlName="name" (click)="onSingup('name')" [class.error]="registerForm.controls['name'].touched && registerForm.hasError('required','name')" placeholder="">
                    <small *ngIf="registerForm.controls['name'].touched && registerForm.hasError('pattern','name')" class="helper-text">*Nombre entre 5 y 30 caracteres</small>
                </div>
                
                
                <div class="input-field col m6 s12">
                    <i class="material-icons grey-text prefix small-icon">email</i>
                    <label for="email1">Email*:</label>
                    <input type="email" id="email1" class="form-control validate" formControlName="email" (click)="onSingup('email')" [class.error]="registerForm.controls['email'].touched && registerForm.hasError('required','email')" placeholder="" >
                </div>
                

                <div class="input-field col m6 s12">
                    <i class="material-icons grey-text prefix small-icon">lock</i>
                    <label for="pass">Contraseña*:</label>
                    <input type="password" id="pass" class="form-control validate" formControlName="password" (click)="onSingup('password')" [class.error]="registerForm.controls['password'].touched && registerForm.hasError('required','password')" placeholder="">
                </div>


                <div class="input-field col m6 s12">
                    <i class="material-icons grey-text prefix small-icon">location_city</i>
                    <label for="city">Ciudad*:</label>
                    <input type="text" id="city" class="form-control validate" formControlName="city" (click)="onSingup('city')" [class.error]="registerForm.controls['city'].touched && registerForm.hasError('required','city')" placeholder="" >
                </div>
                
                <div class="input-field col m6 s12">
                    <i class="material-icons grey-text prefix small-icon">location_on</i>
                    <label for="adress">Direccion*:</label>
                    <input type="text" id="adress" class="form-control validate" formControlName="adress" (click)="onSingup('adress')" [class.error]="registerForm.controls['adress'].touched && registerForm.hasError('required','adress')" placeholder="" >
                </div>
                <div class="col register">
                    <div class="btns">
                      <button type="submit" class="btn red waves-effect" (click)="autenticateRegister()">Registrarse</button>
                    </div>  
                </div>

            </form>
        </div>
        
    </div>

</div>
